# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Build Outputs
# =========================
out/
target/
build/

# =========================
# Java
# =========================
*.class
*.log
hs_err_pid*

# =========================
# OS (Windows / Mac)
# =========================
Thumbs.db
.DS_Store
